body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;
  }

  .quiz {
    background: url(http://www.portoalegre.travel/upload/b/134/1344590_marauders-map-live-wallpaper.jpg
    ) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  header {
    background: #8B3921;
    background-size: cover;
    height: 100px;
    width: 100%;
    font-family: 'Quattrocento', serif;
    color: antiquewhite;
  }
  
  .logo {
    position: absolute;
    width: 100px;
    height: 100px;
  }
  
  .titleSmall, .titleLarge {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .quizInfo {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 10px;
    padding-right: 7.5px;
  }
  
  .quizInfo li {
    list-style: none;
    padding-bottom: 10px;
  }

  .submitButton {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    
  }

  button, .submitButton {
    width: 150px;
    height: 75px;
    background-color: #8B3921;
    background-size: contain;
    color: antiquewhite;
    border: 2px solid black;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 18pt;
    font-family: inherit;
}

.questionForm {
    display: block;
    width: 100%;
}

.question {
    color: black;
    text-align: center;
    font-family: 'Quattrocento', serif;
    font-size: 18pt;
    font-weight: 800;
}

.answers {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: rgba(230, 188, 99, 0.95);
    color: black;
    font-size: 14pt;
    font-family: inherit;
    font-weight: bold;
    text-align: left;
    border: none;
}

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    outline: none;
}

.answers:focus-within {
    outline: 2px solid black;
}

input:checked {
    border: 7.5px solid black;
}

.feedback {
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    color: black;
    font-family: 'Quattrocento', serif;
    font-size: 28pt;
    font-weight: 800;
}

@media screen and (min-width: 601px) {
    .titleLarge {
    width: 300px;
    height: 100px;
}
    
    .titleSmall {
    display: none;
    }

    label {
        padding: 20px;
    }

    button, .submitButton {
        bottom: 25px;
    }

    .feedback img {
        max-width: 75%;
    }

    .end {
        background: url(https://rukminim1.flixcart.com/image/832/832/poster/y/m/w/athah-pop-art-postermischief-managed-scroll-paper-print-rolled-original-imaefff6tfzpdcnb.jpeg?q=70
        ) no-repeat center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
}

@media screen and (max-width: 600px) {
    .titleSmall {
    width: 90px;
    height: 100px;
    }

    .titleLarge {
    display: none;
    }

    .feedback img {
        width: 100%;
    }

    label {
        padding: 10px;
    }

    button, .submitButton {
        bottom: 25px;
    }

    .end {
        background: url(https://rukminim1.flixcart.com/image/832/832/poster/y/m/w/athah-pop-art-postermischief-managed-scroll-paper-print-rolled-original-imaefff6tfzpdcnb.jpeg?q=70
        ) repeat center fixed;
        -webkit-background-size: auto;
        -moz-background-size: auto;
        -o-background-size: auto;
        background-size: auto;
      }

    }