body {
    background: url(http://www.portoalegre.travel/upload/b/134/1344590_marauders-map-live-wallpaper.jpg
    ) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;
  }
  
  header {
    background: #8B3921;
    background-size: cover;
    height: 100px;
    width: 100%;
    font-family: 'Quattrocento', serif;
    color: antiquewhite;
  }
  
  .logo {
    position: absolute;
    width: 100px;
    height: 100px;
  }
  
  .titleSmall, .titleLarge {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .quizInfo {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 15px;
    padding-right: 10px;
  }
  
  .quizInfo li {
    list-style: none;
  }

  button {
    width: 150px;
    height: 75px;
    background-color: #8B3921;
    background-size: contain;
    color: antiquewhite;
    border: 2px solid black;
    display: block;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 18pt;
    font-family: inherit;
}

.questionForm {
    display: block;
}

.question {
    color: black;
    text-align: center;
    font-family: 'Quattrocento', serif;
    font-size: 18pt;
    font-weight: 800;
}

.answers {
    display: flex;
    width: 75%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: rgba(230, 188, 99, 0.95);
    color: black;
    font-size: 14pt;
    font-family: inherit;
    font-weight: bold;
    text-align: left;
    border: none;
}

label {
    padding: 20px;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    outline: none;
    position: relative;
    top: 5px;
}

input:checked {
    border: 7px solid black;
}

.feedback {
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    color: black;
    font-family: 'Quattrocento', serif;
    font-size: 30pt;
    font-weight: 800;
}

.feedback img {
    max-width: 75%;
}

@media screen and (min-width: 601px) {
    .titleLarge {
    width: 300px;
    height: 100px;
}
    
    .titleSmall {
    display: none;
    }
}

@media screen and (max-width: 600px) {
    .titleSmall {
    width: 90px;
    height: 100px;
    }

    .titleLarge {
    display: none;
    }