body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;
  }

.quiz {
    background: url(http://www.portoalegre.travel/upload/b/134/1344590_marauders-map-live-wallpaper.jpg
    ) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
header {
    background: #8B3921;
    background-size: cover;
    height: 100px;
    width: 100%;
    font-family: 'Quattrocento', serif;
    color: antiquewhite;
  }
  
.logo {
    position: absolute;
    width: 100px;
    height: 100px;
  }
  
.titleSmall, .titleLarge {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

.quizInfo {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 10px;
    padding-right: 7.5px;
  }
  
.quizInfo li {
    list-style: none;
    padding-bottom: 10px;
  }

button, .submitButton {
    width: 150px;
    height: 75px;
    background-color: #8B3921;
    background-size: contain;
    color: antiquewhite;
    border: 2px solid black;
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 18pt;
    font-family: inherit;
}

.questionForm {
    display: block;
    width: 100%;
}

.question {
    color: black;
    text-align: center;
    font-family: 'Quattrocento', serif;
    font-weight: 800;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    background: rgb(250, 235, 215, 0.8);
    padding: 20px 0;
    margin-bottom: 20px;
}

.answers {
    display: flex;
    flex-direction: column;
    height: 40%;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-family: inherit;
    font-weight: bold;
    border: none;
}

label {
    background-color: rgba(230, 188, 99, 0.975);
    color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height: 10%;
    cursor: pointer;
}

input[type="radio"] {
    appearance: none;
    opacity: 0;
    outline: none;
    margin-left: -21px;
}

label:focus-within{
    outline: 2px solid antiquewhite;
}

.feedback {
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    color: black;
    font-family: 'Quattrocento', serif;
    font-size: 28pt;
    font-weight: 800;
}

.feedback > p {
    font-size: 28pt;
    font-weight: bolder;
    background: rgb(250, 235, 215, 0.8);
    padding: 20px 0;
}

.finalScore {
    display: block;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    background-size: cover;
    top: 45%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
   
    text-align: center;
}

.scoreText {
    color: #8B3921;
    font-size: 30pt;
    text-shadow: 1px 1px 0px antiquewhite, -1px -1px 0px antiquewhite, -1px 1px 0px antiquewhite, 1px -1px 0px antiquewhite;
    font-family: 'Quattrocento', serif;
}

@media screen and (min-width: 601px) {
    .titleLarge {
        width: 300px;
        height: 100px;
    }
    
    .titleSmall {
        display: none;
    }

    form {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    .question {
        font-size: 20pt;
        width: 100%;
    }

    .answers {
        font-size: 18pt;
    }

    label {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    button, .submitButton {
        bottom: 25px;
    }

    .feedback {
        width: 75%;
    }

    .feedback img {
        max-width: 750px;
    }

    .end {
        background: url(https://rukminim1.flixcart.com/image/832/832/poster/y/m/w/athah-pop-art-postermischief-managed-scroll-paper-print-rolled-original-imaefff6tfzpdcnb.jpeg?q=70
        ) no-repeat center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
}

@media screen and (max-width: 600px) {
    .titleSmall {
        width: 90px;
        height: 100px;
    }

    .titleLarge {
        display: none;
    }

    .feedback {
        width: 100%;
    }

    .feedback img {
        width: 100%;
    }

    form {
        width: 100%;
    }

    .question {
        font-size: 18pt;
        width: 100%;
    }

    .answers {
        font-size: 14pt;
    }

    label {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    button, .submitButton {
        bottom: 10px;
    }

    .end {
        background: url(https://rukminim1.flixcart.com/image/832/832/poster/y/m/w/athah-pop-art-postermischief-managed-scroll-paper-print-rolled-original-imaefff6tfzpdcnb.jpeg?q=70
        ) repeat center fixed;
        -webkit-background-size: auto;
        -moz-background-size: auto;
        -o-background-size: auto;
        background-size: auto;
    }

}